@model Inventario.ViewModel.ItemViewModel

@{
    ViewData["Title"] = "Editar Item # @Model.Numero";
}

<h1>Editar Item #@Html.DisplayFor(model => model.Numero)</h1>

<h4>ItemViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="item.Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="item.Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="item.Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Custo" class="control-label"></label>
                <input asp-for="item.Custo" class="form-control" />
                <span asp-validation-for="Custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorResidual" class="control-label"></label>
                <input asp-for="item.ValorResidual" class="form-control" />
                <span asp-validation-for="ValorResidual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anos" class="control-label"></label>
                <input asp-for="item.Anos" class="form-control" />
                <span asp-validation-for="Anos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depreciacao" class="control-label"></label>
                <input asp-for="item.Depreciacao" class="form-control" />
                <span asp-validation-for="Depreciacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
